.c {

  &-form {

    &-wrapper {
      background: $pink;
      display: inline-block;
      width: auto;
      padding: 3px;
      margin-left: 4px;

      @include respond-to(tablet-down) {
        display: block;
        width: 307px;
        margin-left: 0px;
        margin: 0 auto;
      }
    }

    &-control {

      &--input {
        padding-left: 18px;
        height: 46px;
        width: 238px;
        @include noBorder;
      }

      &--button {
        background: none;
        padding: 0 16px;
        height: auto;
        color: $white;
        @include noBorder;
      }
    }
  }
}

input[type=text] {
  @include formInput;
}


#sign-up::-webkit-input-placeholder {
  @include formInput;
}


#sign-up:-ms-input-placeholder {
  font-family: 'Neutraface' !important;
  color: #000000 !important;
}

#sign-up::placeholder {
  @include formInput;
}
