// Padding Top
.u-pt {

  &--0 {
    padding-top: 0px;
  }
}


// Padding Bottom
.u-pb {

  &--0 {
    padding-bottom: 0px;
  }
}


// Padding left
.u-pl {

  &--0 {
    padding-left: 0;
  }
  &--4 {
    padding-left: 4px;
  }
}


// Padding right
.u-pr {

  &--0 {
    padding-right: 0;
  }
}
